@media screen and (min-width:768px) {
	button.toggle_btn{display: none;} 
}


@media screen and (max-width: 1400px) {
	
}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199px) {


}


/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991px) {
	
	
}

/* Small devices (landscape phones, less than 768px) */

@media screen and (max-width: 767px) {
    p{font-size: 14px;line-height: 21px;}
    nav.main-navigation ul li a { color: #fff; font-size: 16px;border-bottom: 1px solid #262525; }
    nav.main-navigation { position: fixed;height:100%; background: #1e1e1e; left: 0; right: 0; top: 56px;opacity:0;visibility: hidden;padding:20px 0;transition: all 0.4s; }
    nav.main-navigation ul { flex-direction: column; }
    .banner-text h1{font-size:43px;line-height: 50px;}
    .hero-bannner{height:450px;padding-top:140px;}
    .banner-text .button-blue{margin-left: 0;margin-top: 20px;display: block;}
    .cta{padding: 20px 15px;}
    .cta-text{padding: 30px 25px;z-index: 2;position: relative;background: rgb(255,255,255,0.6);}
    .cta-text h4 { font-size: 20px; line-height: 28px;padding-bottom: 15px;max-width: 100%;}
    .cta-text h3 { font-size:24px; line-height:32px;padding-bottom: 15px;}
    .cta-text p{padding-bottom: 20px;}
    .cta-media { margin: 0; }
    .cta-media img { max-width: 100%; transform: scale(2.0) translate(-5px, -70px); }
    .cta-container{overflow: hidden;position: relative;}
    .cta-container::after{bottom: -140px;}
    .cta-container::before{bottom: 30px;}
    .banefits{padding-top: 30px;padding-bottom: 40px;}
    .banefits-box-type-1{padding: 30px 20px;}
    .banefits-box h4 { font-size: 22px; line-height: 28px; padding-bottom: 0; }
    .banefits-box h4 br{display: none;}
    .banefits-box h2{font-size: 32px;line-height: 32px;}
    .banefits-box-type-1 { height: 450px; display: flex; align-items: flex-end; }
    .left-arrow{width:30px;}
    .banefits-box{margin: 0 0 30px;}
    .gallery-section-title h2{font-size:28px;padding-bottom:30px;}
    section.gallery { padding: 30px 0 30px; }
    .gallery-section-title h4 { font-size: 20px; line-height:26px;padding-bottom:10px; }
    .gallery-item{flex-wrap: wrap;flex-direction: column-reverse;}
    .gallery-list .gallery-item .gallery-text, .gallery-item .gallery-img { flex: 0 0 100%; max-width: 100%; padding: 20px 25px; }
    .gallery-item .gallery-text p { font-size: 20px; line-height:26px;text-align: center; color: #000; }
    .gallery-item .gallery-text{border-radius:0 0 30px 30px;margin: 0;}
    .gallery-item .gallery-img { padding: 0; border-radius: 30px 30px 0 0;font-size: 0; }
    .gallery-list .gallery-item:nth-child(even) { flex-direction: column-reverse; }
    .gallery-list .gallery-item:nth-child(even) .gallery-text { border-radius: 0 0 30px 30px; }
    .gallery-item{margin-bottom: 30px;}
    .eco-system{padding: 30px 0;}
    .partner-list{justify-content: center;}
    .partner-list li{flex: 0 0 50%;max-width: 50%;padding: 10px;}
    .eco-system .container{padding: 30px 30px 15px;}
    .our-team { padding-top:30px; padding-bottom: 0px; }
    .section-title h4{font-size:34px;margin: 0;}
    .our-team .section-title{margin-bottom: 20px;}
    .member-box figcaption{text-align: center;}
    .member-box figcaption h5{padding-bottom: 0;}
    .member-box h4 { font-size: 28px; line-height: 32px;padding-bottom: 10px; }
    .member-box { margin-bottom: 30px; }
    .footer-info h4{font-size: 20px;padding-bottom: 15px;padding-top: 20px;}
    .footer-links li a { font-size: 16px; line-height: 20px;}
    .footer-social{margin: 30px 0 20px;}
    .footer-social li a { width:28px; display: inline-block; }
    .footer-bottom{font-size: 18px;margin: 20px 0 0;text-align: left;}
    .brand-logo { max-width: 120px; }
    header { background: #1e1e1e; }
    .header-right button{font-size: 15px;height: 36px;line-height:29px;}
    button.toggle_btn{border: none;background: none;}
    button.toggle_btn span {border-radius:15px;display:block; height: 2px; width: 30px; background: #fff; border: none; outline: none; box-shadow: none;margin: 7px 0 0;transition: all 0.4s;}
    header.active button.toggle_btn span:nth-child(1){transform: rotate(45deg) translate(3px, 3px)}
    header.active button.toggle_btn span:nth-child(2){display: none;}
    header.active button.toggle_btn span:nth-child(3){transform: rotate(-45deg) translate(2px, -4px);}
    button.toggle_btn span:first-child{margin: 0;}
    .header-right { margin: 0 20px 0 auto; }
    .gallery-section-title > img { max-width: 200px; }
    .header-right { margin: 0 15px 0 auto; }
    .main-content { margin-top: 55px; }
    .play-btn{font-size: 20px;}
    header.active nav.main-navigation{opacity: 1;visibility: visible;}
    .banefits-box h3{font-size: 28px;}



}

/* Extra small devices (portrait phones, less than 576px) */

@media screen and (max-width: 575px) {

}


/* Extra small devices (portrait phones, less than 576px) */

@media screen and (max-width: 479px) {
    .banner-text h1 { font-size: 32px; line-height: 38px; }
    .hero-bannner { height: 330px; padding-top: 40px; }
}


@media screen and (max-width: 375px) {
	
}



@media screen and (max-width: 359px){
	

}

@media screen and (max-width: 320px){


}