
@charset "utf-8";

/*====================================
            Root Variable
=====================================*/

:root {
    --main-selection-color: #FFF;
    --main-selection-bg: #454545;
    --input-placeholder-color: #898989;
    --main-font: 'Lufga-Regular';
}

/*====================================
    Fonts 
=====================================*/

@font-face {
    font-family: 'Lufga-Medium';
    src: url('../fonts/Lufga-Medium.eot');
    src: url('../fonts/Lufga-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lufga-Medium.woff2') format('woff2'),
        url('../fonts/Lufga-Medium.woff') format('woff'),
        url('../fonts/Lufga-Medium.ttf') format('truetype'),
        url('../fonts/Lufga-Medium.svg#Lufga-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lufga-Regular';
    src: url('../fonts/Lufga-Regular.eot');
    src: url('../fonts/Lufga-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lufga-Regular.woff2') format('woff2'),
        url('../fonts/Lufga-Regular.woff') format('woff'),
        url('../fonts/Lufga-Regular.ttf') format('truetype'),
        url('../fonts/Lufga-Regular.svg#Lufga-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lufga-Bold';
    src: url('../fonts/Lufga-Bold.eot');
    src: url('../fonts/Lufga-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lufga-Bold.woff2') format('woff2'),
        url('../fonts/Lufga-Bold.woff') format('woff'),
        url('../fonts/Lufga-Bold.ttf') format('truetype'),
        url('../fonts/Lufga-Bold.svg#Lufga-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* ====================================
    Common Css 
=====================================*/

/*RESET*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

thead {
    font-weight: 600;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style-type: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}

*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    outline: none !important;
    box-shadow: none;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

body {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    font-family: var(--main-font);
    font-weight: normal;
    font-style: normal;
    text-rendering: auto;
    color: #222;
    background-color: #FFF;
    overflow-x: hidden;
    text-align: left;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    transition: all ease .4s;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    line-height: 1.2;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #222;
}


iframe {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border: none;
}

video {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border: none;
}

::selection {
    background: var(--main-selection-bg);
    color: var(--main-selection-color);
}

::-webkit-selection {
    background: var(--main-selection-bg);
    color: var(--main-selection-color);
}

::-moz-selection {
    background: var(--main-selection-bg);
    color: var(--main-selection-color);
}

::-o-selection {
    background: var(--main-selection-bg);
    color: var(--main-selection-color);
}

::-ms-selection {
    background: var(--main-selection-bg);
    color: var(--main-selection-color);
}

/*PlaceHolder*/
::-webkit-input-placeholder {
    color: var(--input-placeholder-color) !important;
    opacity: 1;
}

::-moz-placeholder {
    color: var(--input-placeholder-color) !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--input-placeholder-color) !important;
    opacity: 1;
}

:-moz-placeholder {
    color: var(--input-placeholder-color) !important;
    opacity: 1;
}


/*===Button CSS=====*/

.button {
    display: inline-block;
    font-size: 18px;
    font-family: 'Lufga-Bold';
    line-height: normal;
    text-align: center;
    outline: none;
    border-radius: 4px;
    transition: all 500ms ease;
    padding: 0 20px;
    padding-top: 9px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    transition: all .5s ease !important;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease !important;
}

a.button {
    cursor: pointer;
}


/*===Button Bg===*/

.button.button-blue {
    color: #FFF;
    background: linear-gradient(102.66deg, #78CEFF -17.72%, #0295FA 80.89%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    backdrop-filter: blur(42px);
}

/*===========Landing Page CSS Start Here=============*/

header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 7px 0;
    z-index: 99;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-navigation ul{
    display: flex;
}

.main-navigation ul li{
    padding: 0 15px;
}

.main-navigation ul li a{
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: #FFF;
    text-decoration: none;
    padding: 10px 5px;
}

.hero-bannner{
    width: 100%;
    height: 932px;
    background-image: url("../images/hero-banner-1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 170px;
}

.banner-text{
    width: 100%;
    max-width: 582px;
}
.banner-text h1{
    font-size: 80px;
    color: #fff;
    line-height: 80px;
    font-family: 'Lufga-Bold';
    padding-bottom: 30px;
}

.header-right button{
    font-size: 18px;
    color: #FFF;
    height: 43px;
    line-height: 44px;
    padding: 0 15px;
    background-color: transparent;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    
    border-image-source: radial-gradient(98.46% 98.46% at 50.75% 1.54%, rgba(235, 74, 38, 0.38) 0%, rgba(164, 23, 212, 0.38) 40.82%, rgba(0, 70, 184, 0.38) 100%);
    border-radius: 22px;
}

.play-btn{
    font-size: 24px;
    font-family: 'Lufga-Medium';
    line-height: 34px;
    color: #FFF;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.play-btn img{
    margin-left: 15px;
}

.banner-text .button-blue{
    margin-left: 40px;
}

.cta{
    background-color: #ECF1F8;
    width: 100%;
    padding: 200px 200px;
    position: relative;
    z-index: 1;
}

.cta-container::before{
    content: "";
    width: 100%;
    height: 350px;
    background-image: url("../images/backgrounds/line1.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    bottom: 210px;
    z-index: 0;
}

.cta-container::after{
    content: "";
    width: 100%;
    height: 350px;
    background-image: url("../images/backgrounds/line2.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.cta-container{
    background-color: #FFF;
    box-shadow: 10px 10px 35px 0px #00000024;
    border-radius: 33px;
    overflow: visible;
}


.cta-container .row{
    position: relative;
    z-index: 1;
}

.cta-text{
    padding-top: 110px;
    padding-bottom: 150px;
    padding-left: 130px;
}
.cta-text h4{
    font-size: 42px;
    line-height: 42px;
    color: #000;
    padding-bottom: 60px;
    max-width: 292px;
}

.cta-text h3{
    font-size: 64px;
    line-height: 64px;
    color: #020202;
    padding-bottom: 30px;
    max-width: 620px;
}

.cta-text p{
    font-size:18px;
    line-height: 26px;
    color: #000;
    padding-bottom: 30px;
}

.cta-media{
    margin-top: -135px;
    margin-left: -190px;
}
.cta-media img{
    max-width: unset;;
}


.banefits{
    background-color: #ECF1F8;
    padding-top: 160px;
    padding-bottom: 130px;
    position: relative;
    /* background-image: url("../../assets/images/backgrounds/bg-rect.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
}


.banefits-box{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 36px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    position: relative;
}
.banefits-box-type-1{
    height: 790px;
    padding: 60px;
}

.banefits-box-type-2{
    height: 430px;
    box-shadow: 10px 12px 24px 0px #00000073;
}
.banefits-box-type-3{
    height: 340px;
}
.banefits-box h4{
    font-size: 36px;
    line-height: 56px;
    color: #FFF;
    padding-bottom: 10px;
}

.banefits-box h2{
    font-size: 55px;
    color: #FFF;
    font-family: 'Lufga-Bold';
    line-height: auto;
    padding-bottom: 15px;
}
.banefits-box h3{
    font-size: 32px;
    line-height: 45px;
    color: #FFF;
    font-family: 'Lufga-Bold';
}

.banefits-box h2 span{
    font-size: 64px;
}
.banefits .container{
    max-width: 1544px;
}

.left-arrow{
    display: inline-block;
    width: 50px;
}

.banefits-box-type-2 .box-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.gallery-section-title{
    text-align: center;
}
.gallery-section-title img{
    margin-bottom: 30px;
}
.gallery-section-title h4{
    font-size: 36px;
    line-height: 50px;
    color: #000;
    padding-bottom: 60px;
}

.gallery-section-title h2{
    font-size: 64px;
    color: #000;
    padding-bottom: 150px;
}


.gallery-item{
    display: flex;
    margin-bottom: 100px;
}
.gallery-item:last-child{
    margin-bottom: 0;
}

.gallery-list .gallery-item:nth-child(even){
    flex-direction: row-reverse;
} 

.gallery-list .gallery-item:nth-child(even) .gallery-text{
    border-radius: 0 70px 70px 0;
}

.gallery-list .gallery-item .gallery-text{
    flex: 0 0 55%;
    max-width: 55%;
}

.gallery-item .gallery-img{
    flex: 0 0 45%;
    max-width: 45%;
    height: 720px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    overflow: hidden;
}

.gallery-item .gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.gallery-item .gallery-text{
    padding: 40px 100px;
    background-color: #ECF1F8;
    box-shadow: 2px 4px 11px 0px #00000040;
    border-radius: 70px 0 0 70px;
    max-height: 530px;
    margin-top: 40px;
}
.gallery-item .gallery-text p{
    font-size: 36px;
    line-height: 50px;
    color: #000;
}
.eco-system{
    padding-top: 170px;
    padding-bottom: 90px;
    background-color: #EFF4FC;
}
.eco-system .container{
    background: linear-gradient(103.88deg, rgba(11, 174, 255, 0.5) 0.08%, rgba(0, 97, 252, 0.5) 100.33%);
    box-shadow: 20px 20px 50px 0px #0000001C;
    border-radius: 30px;
    padding: 30px;
}


.partner-list {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.partner-list li{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 50px;
}

.section-title h4{
    font-size: 64px;
    color: #000;
    font-family: "Lufga-Bold";
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    display: inline-block;
}

.section-title p{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-family: "Lufga-Medium";
    padding-bottom: 15px;
    max-width: 500px;
    margin: 0 auto;
} 
.our-team{
    padding-top: 180px;
    padding-bottom: 75px;
}
.our-team .container{
    background: radial-gradient(97.1% 97.1% at 1.9% 2.7%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 100%);
    box-shadow: inset 67.6667px -67.6667px 67.6667px rgba(255, 255, 255, 0.114), inset -67.6667px 67.6667px 67.6667px rgba(255, 255, 255, 0.114);
    border-radius: 10px;
}
.member-box figcaption{
    padding: 12px 0;
}
.member-box h4{
    font-size: 24px;
    line-height: 34px;
    color: #000;
    padding-bottom: 5px;
}

.member-box h5{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    padding-bottom: 30px;
}



footer{
    padding-top: 40px;
    padding-bottom: 20px;
    background: linear-gradient(265.2deg, #0046B8 0%, #0BAEFF 107.45%);
}


.foot-logo{
    margin-bottom: 15px;
}
.footer-info h4{
    font-size: 36px;
    color: #FFF;
    font-family: "Lufga-Medium";
    padding-bottom: 20px;
}
.footer-links li{
    padding-bottom: 10px;
}
.footer-links li:last-child{
    padding-bottom: 0;
}
.footer-links li a{
    font-size: 24px;
    line-height: 36px;
    color: #FFF;
}

.footer-social{
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}
.footer-social li{
    padding: 0 7.5px;
}

.footer-bottom{
    font-size: 24px;
    line-height: 36px;
    color: #FFF;
    font-family: "Lufga-Bold";
    text-align: center;
}